*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    list-style: none;
}

body {
    background: #4b6cb7; 
    background: -webkit-linear-gradient(to right, #4b6cb7, #182848);
    background: linear-gradient(to right, #4b6cb7, #182848);
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formAddUser {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

    width: 50%;
    height: 200px;
    padding: 20px;
    margin: 20px;

    border: 1px solid white;
    border-radius: 20px;
}

.formAddUser > input {
    width: 80%;
    margin: 2px;
    height: 30px;
    
    border-radius: 10px;
    text-align: center;
}

.formAddUser > button {
    height: 30px;
    width: 100px;
    border-radius: 20px;
}

table {
    width: 80%;
    text-align: center;
    border: 1px solid white;
}

table thead{
    background-color: rgb(0, 38, 255);
    height: 30px; 
}

table tbody th{
    height: 30px;
    border: 1px solid white;
}

.buttonRed {
    padding: 5px;
    margin: 5px;
    color: white;
    font-size: 20px;
    background-color: rgb(207, 132, 132);
    border: 1px solid red;
}
